.card {
    background-color: gray;
    height: 300px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

    
    h1 {
        color: #332;
    } 

}

.cards {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

